<!DOCTYPE html>
<html lang="en">
    <head>
        {% block stylesheet %}
            <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css_form.css') }}"/>
        {% endblock stylesheet %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        <meta charset="UTF-8">
        <title>Pedido Registrado exitosamente!</title>
    </head>
<body>
  <div class = "container">
    <div class="heading">
      <form action={{wsp_link}}>
          <img src="{{ url_for('static', filename='img/Finish.gif') }}" alt="Dame esos 5" class="img_thanks">
          <h3 align="center">{{success_msg}}<h3>
          <p align="center">
          <a href={{wsp_link_agent}} class="btn btn-success" align="center" target="_blank">Enviar msg a AGENTE Delivery!</a><br><br>
          </p>

          <p align="center">
          <a href={{wsp_link_customer}} class="btn btn-success" align="center" target="_blank">Enviar msg a Cliente!</a>
          </p>
      </form>
    </div>
  </div>
<body>
